
body {
  background-color: black;
  background-image: url("bg.jpg");
}

h1{
  color: white;
  margin-left: 300px;
  font-size: 130px;
  font-family: courier;

}



h2 {
  color: #71F9FF;
  font-family: courier;

}


.button {
  background: rgba(0,0,0,0);
  border-style: dotted;
  border-color: white;
  color: white;
  padding: 15px 32px;
  font-size: 20px;
  font-family: courier;
  position: absolute;

}
