@import url('https://fonts.googleapis.com/css?family=Raleway');



body {
  background-color: black;
}

h2 {
  color: white;
  font-family: "Raleway";


}

p {
	color: black;
	font-family: "Raleway";
	font-size: 25px;

}

.textblock {
	width: 50%;
	height: 100%;


}

h1 {
	color: white;
	font-family: "Raleway";
}

h4 {
	color: black;
	font-family: "Raleway";
	
}

/** Navigation bar */
ul {
	list-style-type: none;
	margin: 10;

	font-family: "Raleway";
	color: white;
	
	
}

li {
	display: inline;
	float: right;
	padding: 3%;
}

li a {

	display: block;
	background-color: black;
	color: white;
	padding: 3%;
	
	
}

.active {
	display: block;
	background-color: pink;
	color: black;
	
}

li a:hover {
	display: block;
    background-color: white;
    color: black;
    transition-duration: 0.5s;
    padding: 10%;
    width: 100%;
    border-radius: 5%;
}




.header { 
	width: 100%;
	background-color: black;
	color: white;
	font-family: "Raleway";
	padding: 2%;

	
}

.bold {
  font-weight:bold;
}

.nav {
	color: white;
	font-family: "Raleway";
	background-color: black;
}

div {
	width: 100vw;
	height: auto;
	max-width: 100%;
	max-height: 80%;
/* 	Not working */
	overflow: hidden;
}

.cover {
	width: 100vw;
	height: auto;
	max-height: 100%;
	background-image: url("coverme.jpg");
	padding: 13%;
	background-repeat: repeat-x;
	margin-top: 5%;
	overflow: hidden;
}



.footer {
	background-color: black;
	width: 100%;
	height: 30%;
	font-family: "Raleway";
	color: white;
	padding: 10%;
	margin-left: 36%;
}

.sectionblock {
	width: 100vw;
	height: 100vw;
	max-width: 100%;
	max-height: 100%;
	background-color: black;
	font-family: "Raleway";
	color: white;
	
}

div.gallery {
/*   margin: 5vw; */
  border: 2px solid;
  width: 50vw;
  height: 50vh;
  
  float: left;
  color: white;



}


div.gallery img {
  width: 60vw;
  height: auto;
  opacity: 1;
}

div.desc {
  overflow: scroll;
  font-family:bookantiqua;
  padding: 5px;
  font-size:12px;
}

